/* Font Import */
@import url('https://fonts.googleapis.com/css?family=Arvo:400,700|Open+Sans:400,700,800|Ruda|Bitter');

.intro {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

.card {
  margin-top: -1rem;
  margin-bottom: 5rem;
}

a {
  color: inherit;
}

.list {
  margin: 0 2rem !important;
}

main {
  text-align: center;
}

h2 {
  text-align: center;
}

h1
  font-size: 48px


h1, h2, h3, h4, h5, h6 {
  /*font-family: 'Bitter', serif;*/
  /*font-weight: 400*/
}
body, p, div, span {
  font-family: 'Ruda', 'Roboto', 'Arial', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
  font-weight: 400;
}
